<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>:: StoreManager - SM :: {% block title %}{% endblock %}</title>

    <link href="{{ url_for('static', filename='dist/css/style.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/extra-libs/DataTables/datatables.css') }}>

    {% block css %}{% endblock %}

</head>

<body>

  <div class="preloader">
      <div class="lds-ripple">
          <div class="lds-pos"></div>
          <div class="lds-pos"></div>
      </div>
  </div>
  
  <div id="main-wrapper">
  
      <header class="topbar" data-navbarbg="skin5">
          {% include 'header.html' %}
      </header>
      
      <aside class="left-sidebar" data-sidebarbg="skin5">

          <div class="scroll-sidebar">
              <nav class="sidebar-nav">
                  
                  <ul id="sidebarnav" class="p-t-30">
                      
                     {% include 'menu.html' %}

                  </ul>
              </nav>
          </div>
      </aside>
      
      <div class="page-wrapper">
          
          <div class="container-fluid">
              {% block conteudo %}{% endblock %}
          </div>
          
          {% include 'footer.html' %}
          
      </div>
 </div>

  <script src="{{ url_for('static', filename='assets/libs/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/jquery.ui.touch-punch-improved.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/libs/popper.js/dist/umd/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/extra-libs/sparkline/sparkline.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/waves.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/sidebarmenu.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/custom.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/libs/moment/min/moment.min.js') }}"></script>

  <script type='text/javascript' charset='utf8' src="{{ url_for('static', filename='assets/extra-libs/DataTables/datatables.js') }}"></script>
  
    {% block js %}{% endblock %}

</body>
</html>
