{% extends 'base.html' %}

{% block title %}
  Categorias
{% endblock %}

{% block css %}{% endblock %}

{% block conteudo %}

  <h2>Cadastro de Categorias</h2>
  <form id="categoriaForm">
      <div class="form-group">
          <label for="nomeCategoria">Nome da Categoria:</label>
          <input type="text" class="form-control" id="nomeCategoria" placeholder="Ex: limpeza" required>
      </div>
      <button type="submit" class="btn btn-primary">Adicionar Categoria</button>
  </form>
  <br><br>
  <h2>Lista de Categorias</h2>
  <table class="table">
      <thead>
          <tr>
              <th>ID</th>
              <th>Nome da Categoria</th>
          </tr>
      </thead>
      <tbody id="tabelaCategorias">
          
          {% for categoria in dados %}
          <tr>
            <td>{{categoria[0]}}</td>
            <td>{{categoria[1]}}</td>
        </tr>

          {% endfor %}
      </tbody>
  </table>

{% endblock %}

{% block js %}{% endblock %}
