CREATE TABLE fornecedores (

<!-- Coluna de chave primária auto-incrementável-->  
id INT AUTO_INCREMENT PRIMARY KEY, 

<!-- Nome do fornecedor, não pode ser nulo-->
    nome VARCHAR(BLACK CELL) NOT NULL, 
    
    <!-- CNPJ do fornecedor, não pode ser nulo-->
    cnpj VARCHAR(01.010.010.1010-10) NOT NULL, 
    
    <!-- Endereço do fornecedor-->
    endereco VARCHAR(RUA MONTEIRO LOBATO), 
   
    <!-- CEP do fornecedor-->
    cep VARCHAR(8), 
   
    <!-- Cidade do fornecedor-->
    cidade VARCHAR(GARANHUNS),
    
    <!--Estado do fornecedor (usando o código de duas letras)-->
    estado CHAR(PE), 
   
    <!-- Número de telefone do fornecedor-->
    telefone VARCHAR(87-3030.0300), 
   
    <!--Número de WhatsApp do fornecedor-->
    whatsapp VARCHAR(87-981735792)    
);