{% extends 'base.html' %}

{% block title %}
  Perguntas Frequentes
{% endblock %}

{% block css %}{% endblock %}

{% block conteudo %}

  <h2>Consulta Perguntas Frequentes</h2>
  <form action="/faqs" method="GET">
      
      <div class="perguntasfrequentes"

          <label for="titulo">Pergunta:</label>
          <input type="text" class="form-control" id="titulo" name="pergunta" required>

          <label for="descricao">Descrição:</label>
          <input type="text" id="descricao" name="descricao">

          <label for="data">data:</label>
          <input type="date" id="data" name="data">
      </div>   

      <button type="submit" class="btn btn-primary">Buscar Pergunta</button>
  </form>
  <br><br>
  <h2>Lista de Categorias</h2>
  <table class="table">
      <thead>
          <tr>
              <th>titulo</th>
              <th>descrição</th>
              <th>data</th>
          </tr>
      </thead>
      <tbody id="tabelafaqs">
          
          {% for faqs in dados %}
          <tr>
            <td>{{faqs['titulo']}}</td>
            <td>{{faqs['descricao']}}</td>
            <td>{{faqs['data']}}</td>
        </tr>

          {% endfor %}
      </tbody>
  </table>

{% endblock %}

{% block js %}{% endblock %}
