{% extends 'base.html' %}

{% block title %}
  Perguntas Frequentes
{% endblock %}

{% block css %}{% endblock %}

{% block conteudo %}

  <h2>Cadastro de Perguntas Frequentes</h2>
  <form id="faqform">
      
    <div class="form-group">

        <label for="Titulo">Pergunta:</label>
        <input type="text" class="form-control" id="titulo" name="pergunta" required>
        <br><br>
        <label for="descricao">Resposta:</label>
        <input type="text" id="descricao" name="descricao">
        <br><br>
        <label for="data">data:</label>
        <input type="date" id="data" name="data">
        
    </div>   

      <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
  <br><br>

  <h2>Pergunta Frequentes</h2>

  <table class="table table-striped">
      <thead>
          <tr>
              <th>Titulo</th>
              <th>Descrição</th>
              <th>Data</th>
          </tr>
      </thead>
      <tbody id="tabelafaqs">
          
          {% for FAQ in dados %}
          <tr>
            <td>{{FAQ['titulo']}}</td>
            <td>{{FAQ['descricao']}}</td>
            <td>{{FAQ['data']}}</td>
        </tr>

          {% endfor %}
      </tbody>
  </table>

{% endblock %}

{% block js %}{% endblock %}
