{% extends 'base.html' %}

{% block title %}
  Configuração de Página
{% endblock %}

{% block css %}
<style>
    label {
        display: block;
        margin-top: 10px;
    }

    input[type="text"], textarea, input[type="color"], input[type="file"], select {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        margin-top: 10px;
    }

    #alertas {
        margin-top: 20px;
    }
</style>
{% endblock %}

{% block conteudo %}
  <h2>Gerenciamento de Layout</h2>
  <form id="configuracaoForm" onsubmit="enviarFormulario(); return false;">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome">
    </div>

    <div class="form-group">
        <label for="corPagina">Cor da Página:</label>
        <input type="color" class="form-control" id="corPagina" name="corPagina">
    </div>

    <div class="form-group">
        <label>Menu Institucional:</label>
        <input type="checkbox" id="menuInstitucional" name="menuInstitucional">
    </div>

    <div class="form-group">
        <label>Menu de Serviços:</label>
        <input type="checkbox" id="menuServicos" name="menuServicos">
    </div>

    <div class="form-group">
        <label>Menu de Produtos:</label>
        <input type="checkbox" id="menuProdutos" name="menuProdutos">
    </div>

    <div class="form-group">
        <label for="imagem">Imagem:</label>
        <input type="file" class="form-control" id="imagem" name="imagem">
    </div>

    <div class="form-group">
        <label for="posicaoMenu">Posição do Menu:</label>
        <select class="form-control" id="posicaoMenu" name="posicaoMenu">
            <option value="esquerda">Esquerda</option>
            <option value="direita">Direita</option>
        </select>
    </div>

    <div class="form-group">
        <label for="logo">Logo:</label>
        <input type="file" class="form-control" id="logo" name="logo">
    </div>

    <button type="submit" class="btn btn-primary">Salvar Configurações</button>
  </form>

  <div id="alertas">
    <!-- Exibir alertas -->
  </div>

  <script>
    carregarDados();

    function carregarDados() {
      // Usamos o fetch para enviar os dados
      fetch('http://127.0.0.1:5000/layouts/1', {  // Substitua "1" pelo ID correto
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(response => response.json())
      .then(response => {
        console.log(response);
        preencherFormulario(response);
      })
      .catch(error => {
        console.error('Erro ao enviar a requisição:', error);
        mostrarAlerta('danger', 'Erro ao conectar-se ao servidor. Por favor, tente novamente mais tarde.');
      });
    }

    function enviarFormulario() {
      var nome = document.getElementById("nome").value;
      var corPagina = document.getElementById("corPagina").value;
      var menuInstitucional = document.getElementById("menuInstitucional").checked;
      var menuServicos = document.getElementById("menuServicos").checked;
      var menuProdutos = document.getElementById("menuProdutos").checked;
      var imagem = document.getElementById("imagem").files[0];
      var posicaoMenu = document.getElementById("posicaoMenu").value;
      var logo = document.getElementById("logo").files[0];

      var formData = new FormData();
      formData.append('nome', nome);
      formData.append('cor_de_fundo', corPagina);
      formData.append('menu_institucional', menuInstitucional);
      formData.append('menu_servicos', menuServicos);
      formData.append('menu_produtos', menuProdutos);
      formData.append('posicao_do_menu', posicaoMenu);
      formData.append('imagem', imagem);
      formData.append('logo', logo);

      // Usamos o fetch para enviar os dados
      fetch('http://127.0.0.1:5000/layouts/1', {  // Substitua "1" pelo ID correto
        method: 'PUT',
        body: formData 
      })
      .then(response => response.json())
      .then(response => {
        console.log(response);
        if (response.message === 'Informações de layout atualizadas com sucesso') {
          mostrarAlerta('success', 'Configurações salvas com sucesso!');
        } else {
          mostrarAlerta('danger', 'Erro ao salvar as configurações. Por favor, tente novamente.');
        }
      })
      .catch(error => {
        mostrarAlerta('danger', 'Erro ao conectar-se ao servidor. Por favor, tente novamente mais tarde.');
      });

      window.location.reload();
    }

    function preencherFormulario(dados) {
      document.getElementById("nome").value = dados.nome;
      document.getElementById("corPagina").value = dados.cor_de_fundo;
      document.getElementById("menuInstitucional").checked = dados.menu_institucional;
      document.getElementById("menuServicos").checked = dados.menu_servicos;
      document.getElementById("menuProdutos").checked = dados.menu_produtos;
    }
  </script>
</div>
{% endblock %}
