{% extends 'base.html' %}

{% block title %}
  Páginas
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}

{% block conteudo %}  
<h2>Cadastro de Páginas</h2>
    <div class="form-group">
        <label for="nomePagina">Nome da Página:</label>
        <input type="text" class="form-control" id="nomePagina" placeholder="" required>
    </div>
    
    <div class="form-group">
        <label for="descricaoPagina">Descrição:</label>
        <textarea class="form-control" id="descricaoPagina" placeholder="Até 255 caracteres" maxlength="255"></textarea>
    </div>
    
    <div class="form-group">
        <label for="nomeConteudo">Conteúdo da Página:</label>
        <div class="form-group">
            <textarea id="editor"></textarea>
            <br>
    </div>
        <button type="button" class="btn btn-primary" onclick="enviarFormulario()">Adicionar Página</button>
    </div>
    
    <div id="alertas">
        <!-- Espaço para exibir os alertas -->
    </div>

    <script>
     tinymce.init({
        selector: 'textarea#editor',
        skin: 'bootstrap',
        plugins: 'lists, link, image, media',
        toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help',
        menubar: false,
        setup: (editor) => {
            editor.on("init", () => {
                editor.getContainer().style.transition = "border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out";
            });
            editor.on("focus", () => {
                editor.getContainer().style.boxShadow = "0 0 0 .2rem rgba(0, 123, 255, .25)";
                editor.getContainer().style.borderColor = "#80bdff";
            });
            editor.on("blur", () => {
                editor.getContainer().style.boxShadow = "";
                editor.getContainer().style.borderColor = "";
            });
        },
    });
    
        carregarDados();
    
        function carregarDados() {
             //Usamos o fetch para enviar os dados
             fetch('http://127.0.0.1:5000/paginas', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(response => {
                console.log(response)
                
            })
            .catch(error => {
                console.error('Erro ao enviar a requisição:', error);
                mostrarAlerta('danger', 'Erro ao conectar-se ao servidor. Por favor, tente novamente mais tarde.');
            });
        }
    
        function enviarFormulario() {
    
            //Recuperamos os valores dos form
            var nomePagina = document.getElementById("nomePagina").value;
            var conteudoPagina = tinymce.get("editor").getContent();
            var descricaoPagina = document.getElementById("descricaoPagina").value;
            
    
            //Montamos o json para envio/cadastro
            var dadosPagina = {
                nome: nomePagina,
                conteudo: conteudoPagina,
                descricao: descricaoPagina
            };
    
            //Usamos o fetch para enviar os dados
            fetch('http://127.0.0.1:5000/paginas', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dadosPagina)
            })
            .then(response => response.json())
            .then(response => {
                console.log(response)
                console.log(response.status)
                if (response.status === 201) {
                    mostrarAlerta('success', 'Página criada com sucesso!');
                } else {
                    mostrarAlerta('danger', 'Erro ao criar a página. Por favor, tente novamente.');
                }
            })
            .catch(error => {
                mostrarAlerta('danger', 'Erro ao conectar-se ao servidor. Por favor, tente novamente mais tarde.');
            });
    
            window.location.reload()
        }
    
        function mostrarAlerta(tipo, mensagem) {
            // Crie um elemento de alerta dinamicamente
            var alerta = document.createElement('div');
            alerta.className = 'alert alert-' + tipo;
            alerta.role = 'alert';
            alerta.innerText = mensagem;
    
            // Adicione o alerta à div 'alertas'
            document.getElementById('alertas').appendChild(alerta);
    
            // Remova o alerta após alguns segundos (opcional)
            setTimeout(function() {
                alerta.remove();
            }, 5000);
        }
    
        function removerPagina(idPagina) {
            //Usamos o fetch para enviar os dados
            fetch('http://127.0.0.1:5000/paginas/'+idPagina, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            
            var linhaParaApagar = document.getElementById("linha"+idCategoria);
            var tabela = linhaParaApagar.parentNode;
            tabela.removeChild(linhaParaApagar);
    
        }
        </script>
    
      <br><br>
      <h2>Lista de Páginas</h2>
      <table class="table table-md table-bordered table-striped table-hover table-light" id="tabelaCategorias">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Conteudo</th>
                  <th>Descricao</th>
              </tr>
          </thead>
          <tbody>
              {% for pagina in dados %}
              <tr id="linha{{pagina['id']}}">
                <td>{{pagina["id"]}}</td>
                <td>{{pagina["nome"]}}</td>
                <td>{{pagina["descricao"]}}</td>
                <td>{{pagina["conteudo"]}}</td>
                <td>
    
                    <button type="button" class="btn btn-danger btn-sm"
                        onClick="removerPagina({{pagina['id']}})">
                        Excluir
                    </button>
    
                </td>
            </tr>
    
              {% endfor %}
          </tbody>
      </table>
    
    {% endblock %}
    
    {% block js %}
    <script type='text/javascript'>
        $(document).ready(function() {
            $('#tabelaPaginas').DataTable();
        });
        </script>
    {% endblock %}
