{% extends 'base.html' %}

{% block title %}
  Serviços
{% endblock %}

{% block css %}
  <!-- Adicione qualquer estilo adicional aqui se necessário -->
{% endblock %}

{% block conteudo %}

  <h2>Cadastro de Serviços</h2>
  <form id="servicoForm">
    <div class="form-group">
      <label for="nomeServico">Nome do Serviço:</label>
      <input type="text" class="form-control" id="nomeServico" placeholder="Ex: Limpeza" required>
    </div>

    <div class="form-group">
      <label for="descricaoServico">Descrição do Serviço:</label>
      <textarea class="form-control" id="descricaoServico" placeholder="Descrição do serviço (até 255 caracteres)" maxlength="255"></textarea>
    </div>

    <div class="form-group">
      <label for="linkContato">Link para Contato:</label>
      <input type="text" class="form-control" id="linkContato" placeholder="Link para contato">
    </div>

    <div class="form-group">
      <label for="categoriaServico">Escolha a Categoria:</label>
      <select class="form-control" id="categoriaServico">
        <!-- Adicione as opções de categorias dinamicamente, se necessário -->
        <option value="categoria1">Categoria 1</option>
        <option value="categoria2">Categoria 2</option>
        <!-- Adicione mais opções conforme necessário -->
      </select>
    </div>

    <button type="button" class="btn btn-primary" onclick="enviarFormulario()">Adicionar Serviço</button>
  </form>

  <div id="alertas">
    <!-- Espaço para exibir os alertas -->
  </div>

  <script>
    // Restante do código permanece inalterado
  </script>

  <br><br>
  <h2>Lista de Serviços</h2>
  <table class="table table-md table-bordered table-striped table-hover table-light" id="tabelaServicos">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Link para Contato</th>
        <th>Categoria</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      {% for servico in dados %}
      <tr id="linha{{servico["id"]}}">
        <td>{{servico["id"]}}</td>
        <td>{{servico["nome"]}}</td>
        <td>{{servico["descricao"]}}</td>
        <td>{{servico["link_contato"]}}</td>
        <td>{{servico["categoria"]}}</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" onClick="removerServico({{servico["id"]}})">Excluir</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block js %}
  <script type='text/javascript'>
    $(document).ready(function() {
      $('#tabelaServicos').DataTable();
    });
  </script>
{% endblock %}
